@font-face { 

    font-family: "Kanit-Black"; /*this is where we give our font a name so we can use it!*/
    
    src: url("Kanit-Black.ttf"); /*remember this is how we link to files in CSS!*/
    
    }

/* Taskbar - about me; home, about, learn */

* {
    margin: 0;
    padding: 0;
    
    }

nav {
    height: 60px;
    background-color: rgb(0, 138, 252);
    width:100% 

}

nav p {
    color: #222;
    font-family: "Kanit-Black";
    font-size:24px;
    line-height:55px;
    float: left;
    padding: 0px 20px
}

nav ul {
    float:left;
}

nav ul li {
    float:left;
    list-style: none;
    position: relative;

}

nav ul li a {
    display:flex;
    flex-direction: row;
    font-family: arial;
    color: #222;
    font-size:14px;
    padding:20px 50px;
    text-decoration: none;

}

nav ul li ul {
    display:none;
    position:absolute;
    background-color: rgb(0, 138, 252); 
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

nav ul li:hover ul {
    display:block;
    
}

nav ul li ul li a {
    padding: 16px 14px;
}

nav ul li ul li a:hover {
    background-color: rgb(53, 159, 247); 
}

nav ul li a:hover {
    background-color: rgb(53, 159, 247); 
}

nav ul li ul li {
    border-radius: 10px;
}

/* Body paragraphs - Desktop*/ 




/*Media Query mid - level window*/

@media (max-width: 3000px) { width
    
    
    h3 {
        margin:0px 0px 0px 850px;
    }
    
    main div {
        margin: 0px 0px 0px 700px;
    
    }
    
    .image1 {
        margin: 0px 0px 0px 860px;
    }
    
    .about {
        margin: 0px 0px 0px 860px;
    }
    
    .resume {
        margin: 0px 0px 0px 700px;
    
    }
    
    .myvideo {
        margin: 0px 0px 0px 790px;

    }

}

/*Media Query smaller*/

@media (max-width: 800px) { 
    
    h3 {
        margin:0px 0px 0px 850px;
    }
    
    main div {
        margin: 0px 0px 0px 700px;
    
    }
    
    .image1 {
        margin: 0px 0px 0px 300px;
    }
    
    .about {
        margin: 0px 0px 0px 290px;
    }
    
    .resume {
        margin: 0px 0px 0px 150px;
    
    }

    .myvideo {
        margin: 0px 0px 0px 250px;

    }
}

/*Media Query (for printing) below -- Print Stylesheet*/

@media print {

    nav {
    display:none;
} 

footer {
    display:none;
}

div {
    display:none;

}

}

/* Making icons bigger*/

.pic {
    width: 25px;
    height: 25px;
}

.picbig {
    position: absolute;
    width: 0px;
    -webkit-transition:width 0.2s linear 0s;
    transition:width 0.2s linear 0s; z-index:10;

}

.pic:hover + .picbig{
    width:40px;
}

